.wrapper {
  padding: .5rem 1rem .5rem 0;
  background-color: #886750;
}

.wrapper ul {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  list-style: none;
  margin: 0;
}

.wrapper li {
  
}

.wrapper a {
  height: 100%;
  display: inline-block;
  font-weight: 700;
  color: #292021;
  padding: .4rem;
  background-color: #e1d9ce;
  /* border: .1rem solid ; */
  border-radius: 10px;
}

.wrapper img {
  width: 32px;
  height: inherit;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 50%;
}